<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Exercise for the day!</title>
    <style>
      body {
        text-align: center;
        background-color: #f2f2f2;
      }
      h1 {
        color: #333;
      }
      img {
        border: 2px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        width: 60%;
        max-width: 800px;
      }
    </style>
  </head>
  <body>
    <div>
      <p
        style="
          padding: 10px;
          background-color: #9fc8b8;
          color: white;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          font-size: 24px;
          width: 400px;
          margin: auto;
          font-family: Arial, sans-serif;
          margin-bottom: 20px;
        "
      >
        Exercise for the day: Bicep Curl!
      </p>
    </div>
    <img src="{{ url_for('video_feed') }}" alt="Video Feed" />
  </body>
</html>
