<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat with Assistant</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
        margin: 0;
      }

      .dashboard {
        display: flex;
        height: 100vh;
      }

      .all-chats {
        display: flex;
        flex-direction: column;
        width: 60%;
      }

      .video-emotions {
        display: flex;
        flex-direction: column;
        width: 40%;
        justify-content: center;
        align-items: center;
        background-color: #c7c2c2;
      }

      .chat-container {
        width: 70%;
        margin: 30px auto;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        position: relative;
      }

      .chat-header {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
      }

      .chat-header h2 {
        margin: 0 0 0 10px;
      }

      .person-icon {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }

      .chat-input {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .chat-input button {
        padding: 10px;
        background-color: #9fc8b8;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
      }

      .chat-input button:hover {
        background-color: #75a290;
      }

      .icon-btn {
        background: none;
        border: none;
        cursor: pointer;
        outline: none;
        font-size: 28px;
      }

      .icon-btn:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }

      #loader {
        display: none;
        margin-left: 10px;
        border: 4px solid #f3f3f3;
        border-radius: 50%;
        border-top: 4px solid #9fc8b8;
        width: 20px;
        height: 20px;
        animation: spin 2s linear infinite;
      }

      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }

      audio {
        display: none;
        margin-top: 20px;
      }

      #status {
        margin-left: 10px;
      }

      .video-pane {
        width: 320px;
        background-color: #000;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }

      .video-pane video {
        width: 100%;
        height: auto;
        display: block;
      }

      .emotion-box {
        display: inline-block;
        padding: 5px 10px;
        margin: 5px;
        border-radius: 5px;
        font-size: 14px;
        background-color: lightgray;
        color: black;
      }

      .emotion-box.negative {
        background-color: #f8d7da; /* Light red for negative emotions */
        color: #721c24;
      }

      .emotions-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
    </style>
  </head>
  <body>
    <div class="dashboard">
      <div class="all-chats">
        <div class="chat-container">
          <div class="chat-header">
            <img
              src="../static/images/alis2.png"
              alt="Person"
              class="person-icon"
            />
            <h2>Chat with Mom</h2>
          </div>

          <div class="chat-input" style="margin-bottom: 20px">
            <button id="getMemoryButton">✨ Tell Me About...</button>
          </div>

          <div class="chat-input">
            <button
              id="recordButton"
              class="icon-btn"
              onclick="toggleRecording()"
            >
              🎤 Start Recording
            </button>
            <div id="loader"></div>
            <span id="status" style="color: #888888"></span>
          </div>

          <audio id="audio-player" controls></audio>

          <script>
            let mediaRecorder;
            let audioChunks = [];
            let isRecording = false;
            const recordButton = document.getElementById("recordButton");
            const loader = document.getElementById("loader");
            const statusText = document.getElementById("status");

            function toggleRecording() {
              if (isRecording) {
                stopRecording();
              } else {
                startRecording();
              }
            }

            async function startRecording() {
              const stream = await navigator.mediaDevices.getUserMedia({
                audio: true,
              });
              mediaRecorder = new MediaRecorder(stream);
              mediaRecorder.start();
              isRecording = true;
              recordButton.textContent = "🛑 Stop Recording";
              loader.style.display = "inline-block";
              statusText.textContent = "Recording...";

              mediaRecorder.ondataavailable = function (event) {
                audioChunks.push(event.data);
              };

              mediaRecorder.onstop = function () {
                const audioBlob = new Blob(audioChunks, { type: "audio/wav" });
                audioChunks = [];
                console.log("Stopped recording");
                sendAudioToBackend(audioBlob);
              };
            }

            function stopRecording() {
              mediaRecorder.stop();
              isRecording = false;
              recordButton.textContent = "🎤 Start Recording";
              statusText.textContent = "Stopped recording.";
            }

            function sendAudioToBackend(audioBlob) {
              const formData = new FormData();
              formData.append("audio", audioBlob, "audio.wav");

              fetch("/audio_to_text", {
                method: "POST",
                body: formData,
              })
                .then((response) => {
                  console.log("Fetching from audio to text");
                  loader.style.display = "none";
                  if (!response.ok) {
                    throw new Error("Network response was not ok");
                  }
                  return response.blob(); // Get the audio blob from the response
                })
                .then((audioBlob) => {
                  const audioUrl = URL.createObjectURL(audioBlob);
                  const audioPlayer = document.getElementById("audio-player");
                  audioPlayer.src = audioUrl; // Set the source to the blob URL
                  audioPlayer.style.display = "block"; // Show the audio player
                  audioPlayer.play(); // Play the audio
                })
                .catch((error) => {
                  console.error(
                    "There was a problem with the fetch operation:",
                    error
                  );
                });
            }

            document
              .getElementById("getMemoryButton")
              .addEventListener("click", function () {
                // Update UI to indicate processing
                loader.style.display = "inline-block";
                statusText.textContent = "Remembering moments...";

                fetch("/new_chat", {
                  method: "POST",
                  headers: {
                    // No need to set Content-Type for a simple POST without body
                  },
                  // If your endpoint requires a message, include it in the body
                  body: new URLSearchParams({
                    message: "Tell me about a memory",
                  }),
                })
                  .then((response) => {
                    loader.style.display = "none";
                    if (!response.ok) {
                      throw new Error("Network response was not ok");
                    }
                    return response.blob(); // Get the audio blob from the response
                  })
                  .then((audioBlob) => {
                    // Create a Blob with the correct MIME type
                    const audioBlobWithType = new Blob([audioBlob], {
                      type: "audio/wav",
                    });
                    const audioUrl = URL.createObjectURL(audioBlobWithType);
                    const audioPlayer = document.getElementById("audio-player");
                    audioPlayer.src = audioUrl; // Set the source to the blob URL
                    audioPlayer.style.display = "block"; // Show the audio player
                    audioPlayer.play(); // Play the audio

                    // Optional: Update status text
                    statusText.textContent = "Sharing memory.";
                  })
                  .catch((error) => {
                    console.error("Error fetching memory:", error);
                    statusText.textContent = "Error fetching memory.";
                  });
              });
          </script>
        </div>
        <div class="chat-container">
          <div class="chat-header">
            <img
              src="../static/images/adel2.png"
              alt="Person"
              class="person-icon"
            />
            <h2>Chat with Adel</h2>
          </div>
          <div class="chat-input" style="margin-bottom: 20px">
            <button id="getMemoryButton2">✨ Tell Me About...</button>
          </div>

          <div class="chat-input">
            <button
              id="recordButton2"
              class="icon-btn"
              onclick="toggleRecording2()"
            >
              🎤 Start Recording
            </button>
            <div id="loader2"></div>
            <span id="status2" style="color: #888888"></span>
          </div>

          <audio id="audio-player2" controls></audio>

          <script>
            let mediaRecorder2;
            let audioChunks2 = [];
            let isRecording2 = false;
            const recordButton2 = document.getElementById("recordButton2");
            const loader2 = document.getElementById("loader2");
            const statusText2 = document.getElementById("status2");

            function toggleRecording2() {
              if (isRecording2) {
                stopRecording2();
              } else {
                startRecording2();
              }
            }

            async function startRecording2() {
              const stream2 = await navigator.mediaDevices.getUserMedia({
                audio: true,
              });
              mediaRecorder2 = new MediaRecorder(stream2);
              mediaRecorder2.start();
              isRecording2 = true;
              recordButton2.textContent = "🛑 Stop Recording";
              loader2.style.display = "inline-block";
              statusText2.textContent = "Recording...";

              mediaRecorder2.ondataavailable = function (event) {
                audioChunks2.push(event.data);
              };

              mediaRecorder2.onstop = function () {
                const audioBlob2 = new Blob(audioChunks2, {
                  type: "audio/wav",
                });
                audioChunks2 = [];
                sendAudioToBackend2(audioBlob2);
              };
            }

            function stopRecording2() {
              mediaRecorder2.stop();
              isRecording2 = false;
              recordButton2.textContent = "🎤 Start Recording";
              statusText2.textContent = "Stopped recording.";
            }

            function sendAudioToBackend2(audioBlob2) {
              const formData2 = new FormData();
              formData2.append("audio", audioBlob2, "audio.wav");

              fetch("/audio_to_text2", {
                method: "POST",
                body: formData2,
              })
                .then((response) => {
                  loader2.style.display = "none";
                  if (!response.ok) {
                    throw new Error("Network response was not ok");
                  }
                  return response.blob(); // Get the audio blob from the response
                })
                .then((audioBlob2) => {
                  const audioUrl2 = URL.createObjectURL(audioBlob2);
                  const audioPlayer2 = document.getElementById("audio-player2");
                  audioPlayer2.src = audioUrl2; // Set the source to the blob URL
                  audioPlayer2.style.display = "block"; // Show the audio player
                  audioPlayer2.play(); // Play the audio
                })
                .catch((error) => {
                  console.error(
                    "There was a problem with the fetch operation:",
                    error
                  );
                });
            }

            // document
            //   .getElementById("getMemoryButton2")
            //   .addEventListener("click", async function () {

            //     try {
            //       const response = await fetch("/new_chat2", {
            //         method: "POST",
            //         headers: {
            //           "Content-Type": "application/x-www-form-urlencoded",
            //         },
            //         body: new URLSearchParams({
            //           message: "Tell me about a memory",
            //         }),
            //       });

            //       const data = await response.json();
            //       // Handle the response similar to how you handle audio responses
            //       appendMessage("assistant", data.reply);
            //     } catch (error) {
            //       console.error("Error:", error);
            //     }
            //   });
            document
              .getElementById("getMemoryButton2")
              .addEventListener("click", function () {
                // Update UI to indicate processing
                loader2.style.display = "inline-block";
                statusText2.textContent = "Remembering moments...";

                fetch("/new_chat2", {
                  method: "POST",
                  headers: {
                    // No need to set Content-Type for a simple POST without body
                  },
                  // If your endpoint requires a message, include it in the body
                  body: new URLSearchParams({
                    message: "Tell me about a memory",
                  }),
                })
                  .then((response) => {
                    loader2.style.display = "none";
                    if (!response.ok) {
                      throw new Error("Network response was not ok");
                    }
                    return response.blob(); // Get the audio blob from the response
                  })
                  .then((audioBlob) => {
                    // Create a Blob with the correct MIME type
                    const audioBlobWithType = new Blob([audioBlob], {
                      type: "audio/wav",
                    });
                    const audioUrl = URL.createObjectURL(audioBlobWithType);
                    const audioPlayer =
                      document.getElementById("audio-player2");
                    audioPlayer.src = audioUrl; // Set the source to the blob URL
                    audioPlayer.style.display = "block"; // Show the audio player
                    audioPlayer.play(); // Play the audio

                    // Optional: Update status text
                    statusText2.textContent = "Sharing memory.";
                  })
                  .catch((error) => {
                    console.error("Error fetching memory:", error);
                    statusText2.textContent = "Error fetching memory.";
                  });
              });
          </script>
        </div>
        <button
          style="
            padding: 10px;
            background-color: #9fc8b8;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            width: 200px;
            margin: auto;
          "
          onclick="window.location.href='{{ url_for('excercise') }}'"
        >
          💪 Daily Challenge
        </button>
      </div>
      <div class="video-emotions">
        <p
          style="
            padding: 10px;
            background-color: #9fc8b8;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
          "
        >
          Currently Experiencing
        </p>
        <div class="video-pane" style="">
          <video
            id="video-element"
            autoplay
            muted
            width="320"
            height="240"
          ></video>
        </div>

        <div
          id="emotions-box"
          style="margin-top: 10px; text-align: center"
        ></div>
        <script>
          const API_KEY = "ZG68MoAwkJmO200Jl1EkTKC3SfGNI4r2dpKlA2FjcplK8cE4";
          const WS_URL = `wss://api.hume.ai/v0/stream/models?apiKey=${API_KEY}`;

          let socket;

          async function startVideoStream() {
            try {
              const stream = await navigator.mediaDevices.getUserMedia({
                video: true,
              });
              const videoElement = document.getElementById("video-element");
              videoElement.srcObject = stream;
              videoElement.play();
              setupWebSocket();
              sendFramesPeriodically(videoElement);
            } catch (error) {
              console.error("Error accessing webcam:", error);
            }
          }

          function setupWebSocket() {
            socket = new WebSocket(WS_URL);

            socket.onopen = () => console.log("WebSocket connected to Hume AI");
            socket.onmessage = (event) => handleHumeResponse(event.data);
            socket.onclose = (event) => console.log("WebSocket closed:", event);
            socket.onerror = (error) =>
              console.error("WebSocket error:", error);
          }

          function getFrameAsBase64(video) {
            const canvas = document.createElement("canvas");
            canvas.width = video.videoWidth;
            canvas.height = video.videoHeight;
            const context = canvas.getContext("2d");
            context.drawImage(video, 0, 0, canvas.width, canvas.height);
            return canvas.toDataURL("image/jpeg").split(",")[1]; // Extract base64 string
          }

          function sendFramesPeriodically(video) {
            setInterval(() => {
              if (socket && socket.readyState === WebSocket.OPEN) {
                const base64Image = getFrameAsBase64(video);
                const message = JSON.stringify({
                  models: { face: {} },
                  data: base64Image,
                });
                socket.send(message);
              }
            }, 1000 / 1); // 5 FPS
          }
          function displayTopEmotions(predictions) {
            const emotions = predictions[0].emotions;

            // Sort emotions by score in descending order and take the top 3
            const topEmotions = emotions
              .sort((a, b) => b.score - a.score)
              .slice(0, 3);

            // Clear previous emotions
            const emotionsBox = document.getElementById("emotions-box");
            emotionsBox.innerHTML = ""; // Clear previous content

            // Define negative emotions
            const negativeEmotions = [
              "Distress",
              "Anxiety",
              "Fear",
              "Shame",
              "Doubt",
              "Disappointment",
              "Sadness",
              "Embarrassment",
              "Pain",
              "Anger",
              "Horror",
            ];

            let alertTriggered = false;

            // Create and display emotion boxes
            topEmotions.forEach((emotion) => {
              const emotionElement = document.createElement("div");
              emotionElement.classList.add("emotion-box");

              // Add 'negative' class if the emotion is negative
              if (negativeEmotions.includes(emotion.name)) {
                emotionElement.classList.add("negative");

                // Trigger WhatsApp alert if a negative emotion is found
                if (!alertTriggered) {
                  alertTriggered = true; // Prevent multiple alerts

                  // Send WhatsApp message via backend
                  fetch("http://127.0.0.1:5000/send-whatsapp", {
                    method: "POST",
                    headers: {
                      "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                      message: `Signs of distress: ${emotion.name} (${(
                        emotion.score * 100
                      ).toFixed(
                        2
                      )}%). It would be a good idea to check on her/him and make sure the situation doesn't worsen.`,
                    }),
                  })
                    .then((response) => {
                      if (!response.ok) {
                        throw new Error("Failed to send WhatsApp message");
                      }
                      return response.json();
                    })
                    .then((data) => {
                      console.log("WhatsApp message sent:", data);
                    })
                    .catch((error) => {
                      console.error("Error sending WhatsApp message:", error);
                    });
                }
              }

              emotionElement.textContent = `${emotion.name}: ${(
                emotion.score * 100
              ).toFixed(2)} %`;
              emotionsBox.appendChild(emotionElement);
            });
          }

          function handleHumeResponse(data) {
            try {
              const response = JSON.parse(data);
              console.log("Hume AI Response:", response);

              // Assuming the response has 'predictions' array in 'face'
              const predictions = response.face.predictions;

              displayTopEmotions(predictions);
            } catch (error) {
              console.error("Error parsing response:", error);
            }
          }

          //   function displayTopEmotions(predictions) {
          //     const emotions = predictions[0].emotions;

          //     // Sort emotions by score in descending order and take the top 3
          //     const topEmotions = emotions
          //       .sort((a, b) => b.score - a.score)
          //       .slice(0, 3);

          //     // Clear previous emotions
          //     const emotionsBox = document.getElementById("emotions-box");
          //     emotionsBox.innerHTML = ""; // Clear previous content

          //     // Define negative emotions
          //     const negativeEmotions = [
          //       "Distress",
          //       "Anxiety",
          //       "Fear",
          //       "Shame",
          //       "Doubt",
          //       "Disappointment",
          //       "Sadness",
          //       "Embarrassment",
          //       "Pain",
          //       "Anger",
          //       "Horror",
          //     ];

          //     // Create and display emotion boxes
          //     topEmotions.forEach((emotion) => {
          //       const emotionElement = document.createElement("div");
          //       emotionElement.classList.add("emotion-box");

          //       // Add 'negative' class if the emotion is negative
          //       if (negativeEmotions.includes(emotion.name)) {
          //         emotionElement.classList.add("negative");
          //       }

          //       emotionElement.textContent = `${emotion.name}: ${(
          //         emotion.score * 100
          //       ).toFixed(2)} %`;
          //       emotionsBox.appendChild(emotionElement);
          //     });
          //   }

          //   function handleHumeResponse(data) {
          //     try {
          //       const response = JSON.parse(data);
          //       console.log("Hume AI Response:", response);

          //       // Assuming the response has 'predictions' array in 'face'
          //       const predictions = response.face.predictions;

          //       displayTopEmotions(predictions);
          //     } catch (error) {
          //       console.error("Error parsing response:", error);
          //     }
          //   }

          startVideoStream();
        </script>
      </div>
    </div>
  </body>
</html>
